# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Drizzle
# Recommended for most uses
DATABASE_URL=postgresql://neondb_owner:npg_bK9qjyiB5zDC@ep-silent-violet-adswexnv-pooler.c-2.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require

# For uses requiring a connection without pgbouncer
DATABASE_URL_UNPOOLED=postgresql://neondb_owner:npg_bK9qjyiB5zDC@ep-silent-violet-adswexnv.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require

# Parameters for constructing your own connection string
PGHOST=ep-silent-violet-adswexnv-pooler.c-2.us-east-1.aws.neon.tech
PGHOST_UNPOOLED=ep-silent-violet-adswexnv.c-2.us-east-1.aws.neon.tech
PGUSER=neondb_owner
PGDATABASE=neondb
PGPASSWORD=npg_bK9qjyiB5zDC

# Parameters for Vercel Postgres Templates
POSTGRES_URL=postgresql://neondb_owner:npg_bK9qjyiB5zDC@ep-silent-violet-adswexnv-pooler.c-2.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require
POSTGRES_URL_NON_POOLING=postgresql://neondb_owner:npg_bK9qjyiB5zDC@ep-silent-violet-adswexnv.c-2.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require
POSTGRES_USER=neondb_owner
POSTGRES_HOST=ep-silent-violet-adswexnv-pooler.c-2.us-east-1.aws.neon.tech
POSTGRES_PASSWORD=npg_bK9qjyiB5zDC
POSTGRES_DATABASE=neondb
POSTGRES_URL_NO_SSL=postgresql://neondb_owner:npg_bK9qjyiB5zDC@ep-silent-violet-adswexnv-pooler.c-2.us-east-1.aws.neon.tech/neondb
POSTGRES_PRISMA_URL=postgresql://neondb_owner:npg_bK9qjyiB5zDC@ep-silent-violet-adswexnv-pooler.c-2.us-east-1.aws.neon.tech/neondb?channel_binding=require&connect_timeout=15&sslmode=require